In [1]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\tj\anaconda3\lib\site-packages (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# How many games on this list were launched between 2000-2005? 

# Import pandas
import pandas as pd
from sqlalchemy import create_engine
import pymysql

In [3]:
# create engine
engine = create_engine('mysql+pymysql://johnson:mike@localhost/ap')

In [4]:
conn = engine.connect()

In [5]:
# read a simple query into DataFrame
df = pd.read_sql("SELECT * FROM vgsales", conn)

In [6]:
df

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76,51,8,322,Nintendo,E
1,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,,,,,,
2,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82,73,8.3,709,Nintendo,E
3,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80,73,8,192,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16445,Samurai Warriors: Sanada Maru,PS3,2016,Action,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,,,,,,
16446,LMA Manager 2007,X360,2006,Sports,Codemasters,0.00,0.01,0.00,0.00,0.01,,,,,,
16447,Haitaka no Psychedelica,PSV,2016,Adventure,Idea Factory,0.00,0.00,0.01,0.00,0.01,,,,,,
16448,Spirits & Spells,GBA,2003,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,,,,,,
16449,Winning Post 8 2016,PSV,2016,Simulation,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,,,,,,

In [7]:
#Average sales before 2005
average_sales_pre = pd.read_sql("SELECT 'before 2005' as Period, AVG(global_sales) as Average_Sales from vgsales where Year_of_Release < 2005",conn)

In [8]:
average_sales_pre

        Period  Average_Sales
0  before 2005       0.650039

In [9]:
average_sales_post = pd.read_sql("SELECT 'after 2005' as Period, AVG(global_sales) as Average_Sales from vgsales where Year_of_Release > 2005",conn)

In [10]:
average_sales_post

       Period  Average_Sales
0  after 2005       0.483673

In [11]:
#
average_sales = pd.read_sql("SELECT 'before 2005' as Period, AVG(global_sales) as Average_Sales from vgsales where Year_of_Release < 2005 union SELECT 'after 2005' as Period, AVG(global_sales) as Average_Sales from vgsales where Year_of_Release > 2005",conn)

In [12]:
average_sales

        Period  Average_Sales
0  before 2005       0.650039
1   after 2005       0.483673

In [13]:
#Create a new column that labels records before 2005 as 'pre-2005' and after 2005 as 'post-2005'
def find_default_value(col_val):
    if col_val < 2005:
        return 'pre-2005'
    else:
        return 'post-2005'
    
df['Year_Category'] = df['Year_of_Release'].apply(find_default_value)

df

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating,Year_Category
0,Wii Sports,Wii,2006,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76,51,8,322,Nintendo,E,post-2005
1,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,,,,,,,pre-2005
2,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82,73,8.3,709,Nintendo,E,post-2005
3,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80,73,8,192,Nintendo,E,post-2005
4,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,,,,,,,pre-2005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16445,Samurai Warriors: Sanada Maru,PS3,2016,Action,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,,,,,,,post-2005
16446,LMA Manager 2007,X360,2006,Sports,Codemasters,0.00,0.01,0.00,0.00,0.01,,,,,,,post-2005
16447,Haitaka no Psychedelica,PSV,2016,Adventure,Idea Factory,0.00,0.00,0.01,0.00,0.01,,,,,,,post-2005
16448,Spirits & Spells,GBA,2003,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,,,,,,,pre-2005
16449,Winning Post 8 2016,PSV,2016,Simulation,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,,,,,,,post-2005